<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .core {
        width: 800px;
        height: 300px;
        margin: auto;
        border: 2px solid red;
        background-color: rgb(211, 159, 224);
    }

    h1 {
        background-color: black;
        text-align: center;
        color: white;
        font-weight: bold;
        font-style: italic;
    }
</style>

<body>
    <div class="core">

        <h1>This is Contact Us Page</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, voluptatum. Illo nihil, minima molestias
        ratione
        inventore quam blanditiis, rerum numquam suscipit fugit velit eaque sequi dignissimos voluptate temporibus,
        commodi
        pariatur!
    </div>
</body>

</html>